:root{
    --color-primary:#D3E97A;
    --color-secondary:#1A1A1A;
    --body-color:#0A0A0A;
    --heading-color:#FFFFFF;
    --font-body-color:#C7C7C7;
}

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Typography */

body{
    background-color: var(--body-color);
    color: var(--font-body-color);
    font-family: 'Roboto Condensed','Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 2rem;
}

h1, h2, h3{
   color: var(--heading-color);
   line-height: 1.1;
   margin-bottom: 1.5rem;
}


h1{
    font-size: 5.7rem;
}

h2{
    font-size: 4.3rem;
}

h3{
    font-size: 3.2rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {

    body{
        font-size: 1.8rem;
    }

    h1{
        font-size:7rem;
    }
  
}

