:root{
    --color-primary:#D3E97A;
    --color-secondary:#1A1A1A;
    --body-color:#0A0A0A;
    --heading-color:#FFFFFF;
    --font-body-color:#C7C7C7;
}

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Typography */

body{
    color: var(--font-body-color);
    background-color: var(--body-color);
    font-family: 'Roboto Condensed','Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 2rem;
}

h1, h2, h3{
   color: var(--heading-color);
   line-height: 1.1;
   margin-bottom: 1.5rem;
}


h1{
    font-size: 5.7rem;
}

h2{
    font-size: 4.3rem;
}

h3{
    font-size: 3.2rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {

    body{
        font-size: 1.8rem;
    }

    h1{
        font-size:7rem;
    }
  
}

/* icons */

.icon-container{
    background-color: var(--color-secondary);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    
}

.icon{
    width: 25px;
    height: 25px;
}

.icon--white{
    color: #C7C7C7;
    transition: color 0.3s;
}

.icon-container .icon{
    flex: 1;    
}

.icon-container:hover .icon--white{
    color: #FFFFFF;
}


@media screen and (min-width:1024px) {
    
    .icon-container{
        width: 58px;
        height: 58px;
    }
}

/* Buttons */

.btn{
    text-transform: uppercase;
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn--primary{
    background-color: var(--color-primary);
}

.btn-with-icon{
    padding: 0.5rem;
    padding-left: 1rem; 
}

.btn .icon-container{
        width: 35px;
        height: 35px;
}


/* list */

.list{
    list-style: none;
    padding-left: 0;
}


/* collapsible */

.collapsible__content{
    max-height: 0;
    overflow: hidden;
}

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
}


/* Blocks */

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.block__header{
    margin: 1rem 0;
}


/* Grids */

.grid{
    display: grid;
}

@media screen and (min-width:768px){

    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* Navigation bar */

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__brand{
    padding: 0.5rem 2rem;
    margin-bottom: 0;
}


.nav__list{
    width: 100%;
    margin: 0;
}

.nav__item{
    border-bottom: 1px solid #d6d3d3b8;
    padding: 0.5rem 2rem;
    text-transform: capitalize;
}


.collapsible--expanded .nav__toggler{
    transform: rotate(-90deg);
    color: #FFFFFF;
}


.nav__brand, .nav__item{
    transition: color 0.3s ease-out;
}

.nav__item:hover, .nav__brand:hover{
    color: #FFFFFF;
}

@media screen and (min-width:768px) {

    .nav__toggler{
        display: none;
    }

    .nav__list{
        display: flex;
        width: auto;
        max-height: 100vh;
        overflow: visible;
    }

    .nav__item{
        border-bottom: 0;
    }

    
}
