:root{
    --color-primary:#D3E97A;
    --color-secondary:#1A1A1A;
    --body-color:#0A0A0A;
    --heading-color:#FFFFFF;
    --font-body-color:#C7C7C7;
}

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: var(--font-body-color);
}

/* Typography */

body{
    color: var(--font-body-color);
    background-color: var(--body-color);
    font-family: 'Roboto Condensed','Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 2rem;
}

h1, h2, h3{
   color: var(--heading-color);
   line-height: 1.1;
   margin-bottom: 1.5rem;
}


h1{
    font-size: 5.7rem;
}

h2{
    font-size: 4.3rem;
}

h3{
    font-size: 3.2rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {

    body{
        font-size: 1.8rem;
    }

    h1{
        font-size:7rem;
    }
  
}

/* icons */

.icon-container{
    background-color: var(--color-secondary);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    
}

.icon{
    width: 25px;
    height: 25px;
}

.icon--white{
    color: #C7C7C7;
    transition: color 0.3s;
}

.icon-container .icon{
    flex: 1;    
}

.icon-container:hover .icon--white{
    color: #FFFFFF;
}


@media screen and (min-width:1024px) {
    
    .icon-container{
        width: 58px;
        height: 58px;
    }
}

/* Buttons */

.btn{
    text-transform: uppercase;
    border: 0;
    border-radius: 30px;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    
}

.btn--primary{
    background-color: var(--color-primary);
}

.btn .icon-container{
        width: 40px;
        height: 40px;
        position: relative;
        left :30px;   
}
.btn--streched{
    padding: 1rem 4rem;
}

.url--container{
    margin-top: 3rem;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid var(--color-primary);
}

.url--container > a{
    text-decoration: none;
    color: var(--color-primary);
}

.url--container .icon{
    height: 2rem;
}


/* list */

.list{
    list-style: none;
    padding-left: 0;
}

.project__list{
  /* need to do */
  margin: 1rem 0;
}

.project__item{
    border-top: 1px solid #C7C7C7;
    border-bottom:1px solid #C7C7C7;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

/* collapsible */

.collapsible__content{
    max-height: 0;
    overflow: hidden;
}

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
}


/* Blocks */

.block{
    padding: 6rem, 2rem;
}
.block__header{
    padding: 64px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {

    .block__header{
        padding: 80px 0;
    }
}


/* Grids */

.grid{
    display: grid;
}

@media screen and (min-width:768px){

    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* Navigation bar */

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__brand{
    padding: 0.5rem 2rem;
    margin-bottom: 0;
}


.nav__list{
    width: 100%;
    margin: 0;
}

.nav__item{
    border-bottom: 1px solid #d6d3d3b8;
    padding: 0.5rem 2rem;
    text-transform: capitalize;
}


.collapsible--expanded .nav__toggler{
    transform: rotate(-90deg);
    color: #FFFFFF;
}


.nav__brand, .nav__item{
    transition: color 0.3s ease-out;
}

.nav__item:hover, .nav__brand:hover{
    color: #FFFFFF;
}

@media screen and (min-width:768px) {

    .nav__toggler{
        display: none;
    }

    .nav__list{
        display: flex;
        width: auto;
        max-height: 100vh;
        overflow: visible;
    }

    .nav__item{
        border-bottom: 0;
    }

}

/* Contact Container */
.contact-container{
    display: flex;
    gap: 20px;
}

/* Block-hero */

.hero__image{
    width: 100%;
    display: none;
}


@media screen and (min-width:769px) {

    .hero__image{
        display: block;
        border: 1px solid wheat;
        border-radius: 10px;
        opacity: 0.5;
    }

    .hero_header{
        align-self: center;
    }
    
}

/* Photo container */

.photo-container{
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.photo-container >img{
    width: 100%;
}

/* Project Block */

.project-block .grid{
    row-gap: 30px;
}

.project{
    margin-bottom: 96px;
}

.project__heading{
    margin-top: 0;
}
.project-info__heading{
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: normal;
}

@media screen and (min-width:769px) {
    
    .project-block .grid{
        column-gap: 48px;
    }
}


/* Author Block */

.author .grid{
    /* padding: 2rem 0; */
    row-gap: 2rem;
    margin-bottom: 6rem;
}

.author__heading{
    margin: 0;
    text-transform: uppercase;
}

.author .contact-container{
    margin-top: 3rem;
}

.author__skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}
.author__skills >img{
    width: 4rem;
    height: 5rem;
}

.skill__heading{
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width:769px) {

    .author .grid{
        margin-bottom: 8rem;
    }
}

/* connect block */

.connect-block .grid{
    row-gap: 6rem;
}

.connect__heading{
    margin-top: 0;
}
.connect__header >p{
    margin-bottom: 1rem;
}

.connect__header .contact-container{
    margin-top: 4rem;
}

.connect__form{
    display: flex;
    flex-direction: column;
}

.connect__form input{
    margin-bottom: 2rem;
}


@media screen and (min-width:1024px) {
    
    .connect__header{
        align-self: center;
    }
}


/* Input Fields */

input, textarea{
    border: 0;
    outline: none;
    border-radius: 3px;
    background-color: var(--color-secondary);
    padding: 1rem;
    color: var(--font-body-color);
}

/* footer */

.footer__copyright{
    text-align: center;
}
    
