:root{
    --color-primary:#D3E97A;
    --color-secondary:#1A1A1A;
    --body-color:#0A0A0A;
    --heading-color:#FFFFFF;
    --font-body-color:#C7C7C7;
}

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: var(--body-color);
}

/* Typography */

body{
    color: var(--font-body-color);
    background-color: var(--body-color);
    font-family: 'Roboto Condensed','Times New Roman', Times, serif;
    line-height: 1.4;
    font-size: 2rem;
}

h1, h2, h3{
   color: var(--heading-color);
   line-height: 1.1;
   margin-bottom: 1.5rem;
}


h1{
    font-size: 5.7rem;
}

h2{
    font-size: 4.3rem;
}

h3{
    font-size: 3.2rem;
}

p{
    margin-top: 0;
}

@media screen and (min-width:1024px) {

    body{
        font-size: 1.8rem;
    }

    h1{
        font-size:7rem;
    }
  
}

/* icons */

.icon-container{
    background-color: var(--color-secondary);
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon {
    width: 25px;
    height: 25px;
    fill : var(--color-primary);
}

.icon-container a{
    width: 25px;
    height: 25px;
}




.icon{
    transition: all 0.3s;
}

.icon-container:hover .icon{
    transform: perspective(200px) translateZ(40px);
    color: #cdff03
}



@media screen and (min-width:1024px) {
    
    .icon-container{
        width: 58px;
        height: 58px;
    }

    
}

/* Buttons */

.btn{
    text-transform: uppercase;
    border: 0;
    border-radius: 30px;
    padding: 1rem 1rem;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    outline: none;
    transition: transform 0.3s ease-in-out;
}


.icon{
    color:var(--color-primary)
}

.btn--primary{
    background-color: var(--color-primary);
}

.btn .icon-container{
        width: 40px;
        height: 40px;
        position: relative;
        left :30px;   
}

.url--btn{
    margin-top: 3rem;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid var(--color-primary);
}

.url--btn > a{
    text-decoration: none;
    color: var(--color-primary);
}

.url--btn .icon{
    height: 1.5rem;
}

.btn--hover:hover{
    transform: scale(1.1);
}

/* list */

.list{
    list-style: none;
    padding-left: 0;
}

.content--list{
  /* need to do */
  margin: 1rem 0;
}

.content__item{
    border-top: 1px solid #C7C7C7;
    border-bottom:1px solid #C7C7C7;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

/* collapsible */

.collapsible__content{
    max-height: 0;
    overflow: hidden;
}

.collapsible--expanded .collapsible__content{
    max-height: 100vh;
}


/* Blocks */

.block__header{
    padding: 64px 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (min-width:768px) {

    .block__header{
        padding: 80px 0;
    }
}


/* Grids */

.grid{
    display: grid;
}

@media screen and (min-width:850px){

    .grid--1x2{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width:1024px){

    .grid--1x3{
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Navigation bar */

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.6rem;
    cursor: pointer;
}

.nav__brand{
    width: 10rem;
}


.nav__list{
    width: 100%;
    margin: 0;
}

.nav__item{
    border-bottom: 1px solid #d6d3d3b8;
    padding: 1rem 1.6rem;
    text-transform: capitalize;
}

.nav__item a{
    color: var(--font-body-color);
}


.collapsible--expanded .nav__toggler{
    transform: rotate(-90deg);
    color: #FFFFFF;
}


.nav__item{
    transition: color 0.3s ease-out;
}

.nav__item:hover > a, .nav__brand:hover{
    color: #FFFFFF;
}

@media screen and (min-width:768px) {

    .nav__toggler{
        display: none;
    }

    .nav__list{
        display: flex;
        width: auto;
        max-height: 100vh;
        overflow: visible;
    }

    .nav__item{
        border-bottom: 0;
    }

}

/* Contact Container */
.contact-container{
    display: flex;
    gap: 2rem;
}

/* Block-hero */

.hero .grid{
    justify-items: center;
    row-gap: 2rem;
   
}

.hero__header{
    text-align: center;
}

.hero__heading >span{
    color: dodgerblue;
}


.hero-rusume__btn >img{
    transition: transform 0.3s;
}


.hero-rusume__btn:hover img{
    transform: perspective(200px) translateZ(20px);
}


/* Card */

.card{
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: 10px;
    display: flex;
    justify-content: center;

    padding: 40px 20px;
    transition: transform 0.3s ease-in-out;
}

.card >img{
    width: 100%;
}

.card--hover:hover{
    transform: translateY(-5px);
}


/* Project Block */

.project-block .grid{
    row-gap: 30px;
}


.project{
    margin-bottom: 96px;
}

.project__heading{
    margin-top: 0;
    text-transform: uppercase;
}
.project-info__heading{
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: normal;
}

.projects-block .project__heading{
    text-align: center;
}

.projects-block .card{
    flex-direction: column;
    max-width: 400px;
    margin: 2rem;
}

.projects-block .grid{
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


.project__title{
    margin-top: 0;
    text-align: center;
    
}

.project-btn-container{
 display: flex;
 justify-content: center;
}


@media screen and (min-width:769px) {
    
    .project-block .grid{
        column-gap: 48px;
    }
}


/* Author Block */


.author .grid{
    padding: 6rem 0;
    row-gap: 2rem; 
}

.author__heading{
    margin: 0;
    text-transform: uppercase;
    align-self: center;
}

.author .contact-container{
    margin-top: 3rem;
}

.author__skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}
.author__skills >img{
    width: 4rem;
    height: 5rem;
}

.skill__heading{

    text-transform: uppercase;
}

@media screen and (min-width:769px) {

    .author .grid{
        margin-bottom: 8rem;
    }
}

/* connect block */

.connect{
    margin-top: 8rem;
}

.connect .grid{
    row-gap: 6rem;
}

.connect__heading{
    margin-top: 0;
    text-transform: uppercase;
}
.connect__header >p{
    margin-bottom: 1rem;
}

.connect__header .contact-container{
    margin-top: 4rem;
}

.connect__form{
    display: flex;
    flex-direction: column;
}

.connect__form input{
    margin-bottom: 2rem;
}

.contact-submit__btn{
    align-self: flex-start;
    margin-top: 2rem;
}

@media screen and (min-width:1024px) {
    
    .connect__header{
        align-self: center;
    }
}


/* Input Fields */

input, textarea{
    border: 0;
    outline: none;
    border-radius: 3px;
    background-color: var(--color-secondary);
    padding: 1rem;
    color: var(--font-body-color);
}

/* Progress-bar */
 .progress-container {
      height: 5px;
      background: #e5e7eb;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 1px 1px #121315;
    }

 .progress-bar {
      width: 70%;             
      height: 100%;
      background: #3b82f6;    
      border-radius: 10px 0 0 10px;
    }


/* skill section */
.skill .grid{
    gap: 3rem;
}
.skill__name{
    margin-top: 1rem;
    text-transform: uppercase;
}

.html--progress{
    width: 95%;
}

.css--progress{
    width: 90%;
}

.twcss--progress{
    width: 80%;
}

.js--progress{
    width: 70%;
}

.py--progress{
    width: 85%;
}

.django--progress{
    width: 80%;
}

.git--progress{
    width: 80%;
}


/* Certificate */

.certification-block{
    margin-bottom: 5rem;
}

.certification-block .grid{
    gap: 2rem;
    
}
.certiticate .card{
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

.certification__heading{
    text-transform: uppercase;
    text-align: center;
}

/* Footer */

.footer{
    background-color: #141212b1;
    padding: 2rem;
    margin-top: 5rem;
}

.footer .contact-container{
    justify-content: center;
    align-items: center;
}

.footer__heading{
    text-align: center;
    text-transform: uppercase;
}

