 <section class="block container author">
        <div class="grid grid--1x2">
            <h2 class="author__heading">About Me</h2>
            <div class="author__description">
                I am a front-end developer based in Sydney. Has Mechanical Engineering background.
                I am a front-end developer based in Sydney looking for exciting opportunities. Has Mechanical
                Engineering background. Likes to focus on accessibility when developing. Passionate and curious about
                solving problems. Currently, I’m exploring Reactjs, Webflow and a bit of Designing. While I am not
                programming, I enjoy playing football, photography and playing Valorant. Learning more to improve skill
                <div class="contact-container">
                    <button class="btn btn--primary btn--streched">Download Resume
                        <div class="icon-container">
                            <svg class="icon icon--white">
                                <use xlink:href="images/sprite.svg#arrow"></use>
                            </svg>
                        </div>
                    </button>
                    <div class="icon-container">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#linkedin"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid--1x2">
            <header>
                <h2 class="author__heading">My Capabilities</h2>
            </header>
            <div>
                <p>I am always looking to add more skills.Morbi egestas neque eu blandit fermentum. Nulla ac lobortis
                    ligula. Pellentesque ac ex at purus faucibus tristique ut et dolor. </p>
                <h3 class="skill__heading">MY skills</h3>

                <div class="author__skills">
                    <img src="images/skills/html-5.svg" alt="">
                    <img src="images/skills/css.svg" alt="">
                    <img src="images/skills/tailwind.svg" alt="">
                    <img src="images/skills/python.svg" alt="">
                    <img src="images/skills/django.svg" alt="">
                    <img src="images/skills/git.svg" alt="">
                    <img src="images/skills/github.svg" alt="">
                </div>
            </div>

        </div>
    </section>
