 <section class="block container connect-block">
        <div class="grid grid--1x2">
            <header class="connect__header">
                <h2 class="connect__heading">Let’s connect</h2>
                <p> Say hello at <a href="mailto:ajeyaz@gmail.com">ajeyajaz@gmail.com</a></p>
                <p> For more info, here’s <a href="">my resume</a></p>
                <div class="contact-container">
                    <div class="icon-container">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#linkedin"></use>
                        </svg>
                    </div>
                    <div class="icon-container">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#github"></use>
                        </svg>
                    </div>
                    <div class="icon-container">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#instagram"></use>
                        </svg>
                    </div>
                </div>
            </header>
                <form action="" method="post" class="connect__form">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">

                    <label for="subject">Subject</label>
                    <input type="text" name="subject" id="subject">

                    <label for="message">Message</label>
                   <textarea name="message" id="message"></textarea>
                </form>
        </div>
    </section>