<section class="block container">
        <div class="grid grid--1x2">
            <header class="hero_header">
                <h1 class="hero__heading">HI, I AM AJAY.</h1>
                <p>A passionate full-stack developer based in India, focused on building modern, scalable, and
                    user-friendly web applications. I love turning ideas into reality through clean code,
                    problem-solving, and continuous learning.</p>

                <div class="contact-container">
                    <button class="btn btn--primary btn--streched">cantact me
                        <div class="icon-container">
                            <svg class="icon icon--white">
                                <use xlink:href="images/sprite.svg#arrow"></use>
                            </svg>
                        </div>
                    </button>
                    <div class="icon-container">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#linkedin"></use>
                        </svg>
                    </div>
                    <div class="icon-container">
                        <svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#github"></use>
                        </svg>
                    </div>
                </div>
            </header>
            <img class="hero__image" src="images/Hero.svg" alt="">
        </div>
    </section>